<!DOCTYPE html>
<html>
<head>
	<title>User Interface</title>
	<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
	<link href="/ui/vuetify.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	
	<style media="screen" type="text/css">
		[v-cloak] > * {
			
			display: none;
		}
		
		.fade-leave-active, .fade-enter-active {
			transition: 0.7s ease;
		}
		.fade-leave-to {
			opacity: 1;
		}
		.fade-enter, .fade-leave {
			opacity: 0;
		}
		
		
		[v-cloak]::before { 
			content: " ";
			display: block;
			width: 16em;
			height: 16em;
			background-image: url('data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==');
		}
	</style>
</head>
<body>
	<div id="app" v-cloak>
		<transition name="fade" mode="out-in" appear><div>
			<v-app>
				<v-navigation-drawer clipped fixed v-model="drawer" class="blue-grey lighten-1" dark app>
					<v-list dense>
						<v-list-tile @click="">
							<v-list-tile-action>
								<v-icon>dashboard</v-icon>
							</v-list-tile-action>
							<v-list-tile-content>
								<v-list-tile-title>Dashboard</v-list-tile-title>
							</v-list-tile-content>
						</v-list-tile>
						<v-list-tile @click="">
							<v-list-tile-action>
								<v-icon>settings</v-icon>
							</v-list-tile-action>
							<v-list-tile-content>
								<v-list-tile-title>Settings</v-list-tile-title>
							</v-list-tile-content>
						</v-list-tile>
					</v-list>
				</v-navigation-drawer>
				<v-toolbar app fixed clipped-left dark color="blue-grey darken-1">
					<v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
					<v-toolbar-title>User Interface</v-toolbar-title>
				</v-toolbar>
				<v-content>
					<v-breadcrumbs>
						<v-icon slot="divider">chevron_right</v-icon>
						<v-breadcrumbs-item :disabled="false" @click="console.log('Clicked')">Wafers</v-breadcrumbs-item>
						<v-breadcrumbs-item :disabled="false" @click="page = 'chips'">Chips</v-breadcrumbs-item>
						<v-breadcrumbs-item :disabled="false" @click="page = 'devices'">Devices</v-breadcrumbs-item>
						<v-breadcrumbs-item :disabled="false" @click="page = 'experiments'">Experiments</v-breadcrumbs-item>
					</v-breadcrumbs>
					
					<v-card v-if="page == 'wafers'">
						<v-card-title>
							Wafers
							<v-spacer></v-spacer>
							<v-text-field v-model="waferTableSearch" append-icon="search" label="Search" single-line hide-details></v-text-field>
						</v-card-title>
						<v-data-table :items="wafers" :headers="waferTableHeaders" :search="waferTableSearch" must-sort
							:rows-per-page-items="[10,20,50,{'text':'$vuetify.dataIterator.rowsPerPageAll','value':-1}]"
							no-results-text="Your search did not return any results.">
							<template slot="items" slot-scope="props">
								<tr @click="goToWafer(props.item.name)">
									<td>{{ props.item.name }}</td>
									<td>{{ props.item.path }}</td>
									<td>{{ new Date(props.item.modificationTime*1000).toLocaleString() }}</td>
									<td>{{ props.item.size }}</td>
								</tr>
							</template>
						</v-data-table>
					</v-card>
					
					<v-card v-if="page == 'chips'">
						<v-card-title>
							{{ wafer }} Chips
							<v-spacer></v-spacer>
							<v-text-field v-model="chipTableSearch" append-icon="search" label="Search" single-line hide-details></v-text-field>
						</v-card-title>
						<v-data-table :items="chips" :headers="chipTableHeaders" :search="chipTableSearch" must-sort
							:rows-per-page-items="[10,20,50,{'text':'$vuetify.dataIterator.rowsPerPageAll','value':-1}]"
							no-results-text="Your search did not return any results.">
							<template slot="items" slot-scope="props">
								<tr @click="goToChip(props.item.name)">
									<td>{{ props.item.name }}</td>
									<td>{{ props.item.path }}</td>
									<td>{{ new Date(props.item.modificationTime*1000).toLocaleString() }}</td>
									<td>{{ props.item.size }}</td>
								</tr>
							</template>
						</v-data-table>
					</v-card>
					
					<v-card v-if="page == 'devices'">
						<v-card-title>
							{{ wafer }}{{ chip }} Devices
							<v-spacer></v-spacer>
							<v-text-field v-model="deviceTableSearch" append-icon="search" label="Search" single-line hide-details></v-text-field>
						</v-card-title>
						<v-data-table :items="devices" :headers="deviceTableHeaders" :search="deviceTableSearch" must-sort
							:rows-per-page-items="[10,20,50,{'text':'$vuetify.dataIterator.rowsPerPageAll','value':-1}]"
							no-results-text="Your search did not return any results.">
							<template slot="items" slot-scope="props">
								<tr @click="goToDevice(props.item.name)">
									<td>{{ props.item.name }}</td>
									<td>{{ props.item.path }}</td>
									<td>{{ new Date(props.item.modificationTime*1000).toLocaleString() }}</td>
									<td>{{ props.item.size }}</td>
								</tr>
							</template>
						</v-data-table>
					</v-card>
					
					<v-card v-if="page == 'experiments'">
						<v-card-title>
							{{ wafer }}{{ chip }} {{ device }} Experiments
							<v-spacer></v-spacer>
							<v-text-field v-model="experimentTableSearch" append-icon="search" label="Search" single-line hide-details></v-text-field>
						</v-card-title>
						<v-data-table :items="experiments" :headers="experimentTableHeaders" :search="experimentTableSearch" must-sort
							:rows-per-page-items="[10,20,50,{'text':'$vuetify.dataIterator.rowsPerPageAll','value':-1}]"
							no-results-text="Your search did not return any results.">
							<template slot="items" slot-scope="props">
								<tr @click="goToExperiment(props.item)">
									<td>{{ props.item.startIndexes.experimentNumber }}</td>
									<td>{{ props.item.runType }}</td>
									<td>{{ props.item.MeasurementSystem }}</td>
								</tr>
							</template>
						</v-data-table>
					</v-card>
					
					<v-card v-if="page == 'experiment'">
						<v-card-title>
							{{ wafer }}{{ chip }} {{ device }} Experiment #{{ experiment.startIndexes.experimentNumber }}
						</v-card-title>
						{{ experiment }}
						<div>
							<img :src="'/plots/'+wafer+'/'+chip+'/'+device+'/'+experiment.startIndexes.experimentNumber+'/FullSubthresholdCurveHistory'" alt="Can't display the image">
							<!-- <img src="/plots/{{wafer}}/{{chip}}/{{device}}/{{experiment.startIndexes.experimentNumber}}/FullSubthresholdCurveHistory" alt="Can't display the image"> -->
						</div>
					</v-card>
					
					<div>
						 <!-- <img src="/plots/C127/X/15-16/3/FullSubthresholdCurveHistory" alt="Can't display the image"> -->
					</div>
					
				</v-content>
				<v-footer app inset>
					<v-spacer></v-spacer><span class="pr-3">Created by Steven Noyce. Updated July 2018.</span>
				</v-footer>
			</v-app>
		</div></transition>
	</div>
	
	
	<script src="/ui/jquery.js"></script>
	<script src="/ui/vue.js"></script>
	<script src="/ui/vuetify.js"></script>
	<script type="text/javascript">
		
		function groupBy(elements, groupKey) {
			return elements.reduce(function(rv, x) {
				(rv[x[groupKey]] = rv[x[groupKey]] || []).push(x);
				return rv;
			}, {});
		}
		
		var app = new Vue({
			el: '#app',
			data: {
				currentPage: window.location.hash.substr(1) || "",
				drawer: false,
				page: 'wafers',
				
				wafers: [],
				wafer: '',
				waferTableHeaders: [
					{'text':'Name', 'value':'name'},
					{'text':'Path', 'value':'path'},
					{'text':'Modification Time', 'value':'modificationTime'},
					{'text':'Size', 'value':'size'}],
				waferTableSearch: '',
				
				chips: [],
				chip: '',
				chipTableHeaders: [
					{'text':'Name', 'value':'name'},
					{'text':'Path', 'value':'path'},
					{'text':'Modification Time', 'value':'modificationTime'},
					{'text':'Size', 'value':'size'}],
				chipTableSearch: '',
				
				devices: [],
				device: '',
				deviceTableHeaders: [
					{'text':'Name', 'value':'name'},
					{'text':'Path', 'value':'path'},
					{'text':'Modification Time', 'value':'modificationTime'},
					{'text':'Size', 'value':'size'}],
				deviceTableSearch: '',
				
				experiments: [],
				experiment: '',
				experimentTableHeaders: [
					{'text':'Experiment Number', 'value':'experimentNumber'},
					{'text':'Run Type', 'value':'runType'},
					{'text':'Measurement System', 'value':'MeasurementSystem'}],
				experimentTableSearch: ''
			},
			methods: {
				goToWafer: function(waferName) {
					this.wafer = waferName;
					$.getJSON('/' + this.wafer + '/chips.json', response => {app.$data.chips = response}).fail(() => {console.log("Error getting chips")});
					this.page = 'chips';
				},
				goToChip: function(chipName) {
					this.chip = chipName;
					$.getJSON('/' + this.wafer + '/' + this.chip + '/devices.json', response => {app.$data.devices = response}).fail(() => {console.log("Error getting devices")});
					this.page = 'devices';
				},
				goToDevice: function(deviceName) {
					this.device = deviceName;
					console.log('About to get experiments');
					$.getJSON('/' + this.wafer + '/' + this.chip + '/' + this.device + '/experiments.json', response => {app.$data.experiments = response;}).fail(() => {console.log("Error getting experiments");});
					this.page = 'experiments';
				},
				goToExperiment: function(experimentParameters) {
					this.experiment = experimentParameters;
					// $.getJSON('/' + this.wafer + '/' + this.chip + '/' + this.device + '/' + this.experiment + '/?.json', response => {app.$data.experiments = response}).fail(() => {console.log("Error getting devices")});
					this.page = 'experiment';
				}
			}
		});
		
		$( document ).ready(function(){
			app.$vuetify.theme.primary = '#938E94';
			app.$vuetify.theme.secondary = '#557A95';
			app.$vuetify.theme.accent = '#7395AE';
			app.$vuetify.theme.error = '#BF360C';
			app.$vuetify.theme.success = '#00897B';
			app.$vuetify.theme.info = '#B1A296';
			app.$vuetify.theme.warning = '#FFB300';
		});
		
		function updateConnectionStatus() {
			app.$set(app, 'online', navigator.onLine);
		}
		
		window.addEventListener('online', updateConnectionStatus);
		window.addEventListener('offline', updateConnectionStatus);
		window.onhashchange = function() { app.$data.currentPage = location.hash; };
		
		if (typeof(Storage) !== 'undefined') {
			localStorage.exists = 'True';
		}
		
		$.getJSON("/wafers.json", response => {app.$data.wafers = response}).fail(() => {console.log("Error getting wafers")});
		
	</script>
</body>
</html>
