<!DOCTYPE html>
<html>
<head>
	<title>User Interface</title>
	<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
	<link href="/ui/vuetify.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	
	<style media="screen" type="text/css">
		[v-cloak] > * {
			
			display: none;
		}
		
		.fade-leave-active, .fade-enter-active {
			transition: 0.7s ease;
		}
		.fade-leave-to {
			opacity: 1;
		}
		.fade-enter, .fade-leave {
			opacity: 0;
		}
		
		img {
			width: auto;
			height: auto;
			max-width: 100%;
			margin-left: auto;
			margin-right: auto;
		}
		
		[v-cloak]::before { 
			content: " ";
			display: block;
			width: 16em;
			height: 16em;
			background-image: url('data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==');
		}
	</style>
</head>
<body>
	<div id="app" v-cloak>
		<transition name="fade" mode="out-in" appear><div>
			<v-app>
				<v-navigation-drawer clipped fixed v-model="drawer" class="blue-grey lighten-1" dark app>
					<v-list dense>
						<v-list-tile @click="">
							<v-list-tile-action>
								<v-icon>dashboard</v-icon>
							</v-list-tile-action>
							<v-list-tile-content>
								<v-list-tile-title>Dashboard</v-list-tile-title>
							</v-list-tile-content>
						</v-list-tile>
						<v-list-tile @click="">
							<v-list-tile-action>
								<v-icon>settings</v-icon>
							</v-list-tile-action>
							<v-list-tile-content>
								<v-list-tile-title>Settings</v-list-tile-title>
							</v-list-tile-content>
						</v-list-tile>
					</v-list>
				</v-navigation-drawer>
				<v-toolbar app fixed clipped-left dark color="blue-grey darken-1">
					<v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
					<v-toolbar-title>User Interface</v-toolbar-title>
				</v-toolbar>
				<v-content>
					
					<v-stepper v-model="page" style="background-color:rgba(255,255,255,0);height:100%;">
						<v-stepper-header style="background-color:rgba(255,255,255,1);">
							<v-stepper-step step="1" :complete="page > 1" :editable="page > 1">Wafers</v-stepper-step>
							<v-divider></v-divider>
							<v-stepper-step step="2" :complete="page > 2" :editable="page > 2">Chips</v-stepper-step>
							<v-divider></v-divider>
							<v-stepper-step step="3" :complete="page > 3" :editable="page > 3">Devices</v-stepper-step>
							<v-divider></v-divider>
							<v-stepper-step step="4" :complete="page > 4" :editable="page > 4">Experiments</v-stepper-step>
							<v-divider></v-divider>
							<v-stepper-step step="5" :complete="page > 5" :editable="page > 5">Experiment</v-stepper-step>
						</v-stepper-header>
						
						<v-stepper-items>	
							<v-stepper-content step="1">
								<v-card>
									<v-toolbar dark class="blue-grey darken-1">
										<v-toolbar-title>
											Wafers
										</v-toolbar-title>
										<v-spacer></v-spacer>
										<v-text-field v-model="waferTableSearch" append-icon="search" label="Search" single-line hide-details></v-text-field>
									</v-toolbar>
									<v-data-table :items="wafers" :headers="waferTableHeaders" :search="waferTableSearch" must-sort
										:rows-per-page-items="[10,20,50,{'text':'$vuetify.dataIterator.rowsPerPageAll','value':-1}]"
										no-results-text="Your search did not return any results."
										:custom-filter="customVDataTableFilter">
										<template slot="items" slot-scope="props">
											<tr @click="goToWafer(props.item.name)">
												<td>{{ props.item.name }}</td>
												<td>{{ props.item.path }}</td>
												<td>{{ new Date(props.item.modificationTime*1000).toLocaleString() }}</td>
												<td>{{ props.item.size }}</td>
												<td>{{ props.item.chipCount }}</td>
											</tr>
										</template>
									</v-data-table>
								</v-card>
							</v-stepper-content>
							
							<v-stepper-content step="2">
								<v-card v-if="page > 1">
									<v-toolbar dark class="blue-grey darken-1">
										<v-btn icon @click="page--;"><v-icon>arrow_back</v-icon></v-btn>
										<v-toolbar-title>
											{{ wafer }} Chips
										</v-toolbar-title>
										<v-spacer></v-spacer>
										<v-text-field v-model="chipTableSearch" append-icon="search" label="Search" single-line hide-details></v-text-field>
									</v-toolbar>
									<v-data-table :items="chips" :headers="chipTableHeaders" :search="chipTableSearch" must-sort
										:rows-per-page-items="[10,20,50,{'text':'$vuetify.dataIterator.rowsPerPageAll','value':-1}]"
										no-results-text="Your search did not return any results."
										:custom-filter="customVDataTableFilter">
										<template slot="items" slot-scope="props">
											<tr @click="goToChip(props.item.name)">
												<td>{{ props.item.name }}</td>
												<td>{{ props.item.path }}</td>
												<td>{{ new Date(props.item.modificationTime*1000).toLocaleString() }}</td>
												<td>{{ props.item.size }}</td>
											</tr>
										</template>
									</v-data-table>
								</v-card>
							</v-stepper-content>
							
							<v-stepper-content step="3">
								<v-card v-if="page > 2">
									<v-toolbar dark class="blue-grey darken-1">
										<v-btn icon @click="page--;"><v-icon>arrow_back</v-icon></v-btn>
										<v-toolbar-title>
											{{ wafer }}{{ chip }} Devices
										</v-toolbar-title>
										<v-spacer></v-spacer>
										<v-text-field v-model="deviceTableSearch" append-icon="search" label="Search" single-line hide-details></v-text-field>
									</v-toolbar>
									<v-data-table :items="devices" :headers="deviceTableHeaders" :search="deviceTableSearch" must-sort
										:rows-per-page-items="[10,20,50,{'text':'$vuetify.dataIterator.rowsPerPageAll','value':-1}]"
										no-results-text="Your search did not return any results."
										:custom-filter="customVDataTableFilter">
										<template slot="items" slot-scope="props">
											<tr @click="goToDevice(props.item.name)">
												<td>{{ props.item.name }}</td>
												<td>{{ props.item.path }}</td>
												<td>{{ new Date(props.item.modificationTime*1000).toLocaleString() }}</td>
												<td>{{ props.item.size }}</td>
											</tr>
										</template>
									</v-data-table>
								</v-card>
							</v-stepper-content>
							
							<v-stepper-content step="4">
								<v-card v-if="page > 3">
									<v-toolbar dark class="blue-grey darken-1">
										<v-btn icon @click="page--;"><v-icon>arrow_back</v-icon></v-btn>
										<v-toolbar-title>
											{{ wafer }}{{ chip }} {{ device }} Experiments
										</v-toolbar-title>
										<v-spacer></v-spacer>
										<v-text-field v-model="experimentTableSearch" append-icon="search" label="Search" single-line hide-details></v-text-field>
									</v-toolbar>
									<v-data-table :items="experiments" :headers="experimentTableHeaders" :search="experimentTableSearch" must-sort
										:rows-per-page-items="[10,20,50,{'text':'$vuetify.dataIterator.rowsPerPageAll','value':-1}]"
										no-results-text="Your search did not return any results."
										:custom-filter="customVDataTableFilter">
										<template slot="items" slot-scope="props">
											<tr @click="goToExperiment(props.item)">
												<td>{{ props.item.startIndexes.experimentNumber }}</td>
												<td>{{ props.item.runType }}</td>
												<td>{{ props.item.MeasurementSystem }}</td>
												<td>{{ props.item.uiComputed.indexCount }}</td>
											</tr>
										</template>
									</v-data-table>
								</v-card>
							</v-stepper-content>
							
							<v-stepper-content step="5">
								<v-card v-if="page > 4">
									<v-toolbar dark class="blue-grey darken-1">
										<v-btn icon @click="page--;"><v-icon>arrow_back</v-icon></v-btn>
										<v-toolbar-title>
											{{ wafer }}{{ chip }} {{ device }} Experiment #{{ experiment.startIndexes.experimentNumber }}
										</v-toolbar-title>
									</v-toolbar>
									
									<v-container fluid grid-list-sm>
										<v-layout row wrap>
											
											<v-flex xs12 sm6 md4 lg3 xl2 d-flex v-for="possiblePlot in experiment.possiblePlots">
												<v-card class="ma-1" tile>
													<v-toolbar dark class="blue-grey lighten-1">
														<v-toolbar-title>
															{{ possiblePlot }}
														</v-toolbar-title>
													</v-toolbar>
													<div class="text-xs-center">
														<img :src="'/plots/'+wafer+'/'+chip+'/'+device+'/'+experiment.startIndexes.experimentNumber+'/'+possiblePlot + cacheBust()">
													</div>
												</v-card>
											</v-flex>
											
										</v-layout>
									</v-container>
									
									
									<!-- <v-container fluid grid-list-sm>
										<v-layout row wrap>
											<v-flex xs12 md6 lg4 xl3 d-flex v-for="section in _.keys(experiment)" v-if="typeof experiment[section] == 'object'">
												<v-card class="ma-1" tile>
													<v-card-title>{{ section }}</v-card-title>
													<v-data-table :items="_.toPairs(experiment[section])" :headers="[{'text':'Property'},{'text':'Value'}]" hide-actions hide-headers>
														<template slot="items" slot-scope="props">
															<td> {{ props.item[0] }}</td>
															<td> {{ props.item[1] }}</td>
														</template>
													</v-data-table>
												</v-card>
											</v-flex>
										</v-layout>
									</v-container> -->
									
									
									
									
									<v-card class="ma-1">
										<v-expansion-panel dark expand>
											<v-expansion-panel-content class="blue-grey darken-1" v-for="section in _.keys(experiment)" v-if="typeof experiment[section] == 'object'" ripple>
												<div slot="header">{{ section }}</div>
												<v-data-table :items="_.toPairs(experiment[section])" :headers="[{'text':'Property'},{'text':'Value'}]" hide-actions hide-headers light>
													<template slot="items" slot-scope="props">
														<td> {{ props.item[0] }}</td>
														<td> {{ props.item[1] }}</td>
													</template>
												</v-data-table>
											</v-expansion-panel-content>
										</v-expansion-panel>
									</v-card>
									
								</v-card>
							</v-stepper-content>
						</v-stepper-items>
					</v-stepper>
					
					<div>
						 <!-- <img src="/plots/C127/X/15-16/3/FullSubthresholdCurveHistory" alt="Can't display the image"> -->
					</div>
					
				</v-content>
				<v-footer app inset>
					<v-spacer></v-spacer><span class="pr-3">Created by Steven Noyce. Updated July 2018.</span>
				</v-footer>
			</v-app>
		</div></transition>
	</div>
	
	
	<script src="/ui/jquery.js"></script>
	<script src="/ui/lodash.js"></script>
	<script src="/ui/vue.js"></script>
	<script src="/ui/vuetify.js"></script>
	<script type="text/javascript">
		
		function cacheBust() {
			return '#cb=' + new Date().getTime();
		}
		
		function groupBy(elements, groupKey) {
			return elements.reduce(function(rv, x) {
				(rv[x[groupKey]] = rv[x[groupKey]] || []).push(x);
				return rv;
			}, {});
		}
		
		var app = new Vue({
			el: '#app',
			data: {
				currentPage: window.location.hash.substr(1) || "",
				drawer: false,
				page: 1,
				pageNames: ['wafers','chips','devices','experiments','experiment'],
				parametersTab: 0,
				parametersSection: '',
				
				wafers: [],
				wafer: '',
				waferTableHeaders: [
					{'text':'Name', 'value':'name'},
					{'text':'Path', 'value':'path', 'searchable':false},
					{'text':'Modification Time', 'value':'modificationTime', 'searchable':false},
					{'text':'Size', 'value':'size', 'searchable':false},
					{'text':'Tested Chip Count', 'value':'chipCount', 'searchable':false}],
				waferTableSearch: '',
				
				chips: [],
				chip: '',
				chipTableHeaders: [
					{'text':'Name', 'value':'name'},
					{'text':'Path', 'value':'path', 'searchable':false},
					{'text':'Modification Time', 'value':'modificationTime', 'searchable':false},
					{'text':'Size', 'value':'size', 'searchable':false}],
				chipTableSearch: '',
				
				devices: [],
				device: '',
				deviceTableHeaders: [
					{'text':'Name', 'value':'name'},
					{'text':'Path', 'value':'path', 'searchable':false},
					{'text':'Modification Time', 'value':'modificationTime', 'searchable':false},
					{'text':'Size', 'value':'size', 'searchable':false}],
				deviceTableSearch: '',
				
				experiments: [],
				experiment: '',
				experimentTableHeaders: [
					{'text':'Experiment Number', 'value':'startIndexes.experimentNumber'},
					{'text':'Run Type', 'value':'runType'},
					{'text':'Measurement System', 'value':'MeasurementSystem'},
					{'text':'Index Count', 'value':'uiComputed.indexCount'}],
				experimentTableSearch: ''
			},
			methods: {
				goToWafer: function(waferName) {
					this.wafer = waferName;
					$.getJSON('/' + this.wafer + '/chips.json' + cacheBust(), response => {app.$data.chips = response}).fail(() => {console.log("Error getting chips")});
					this.page++;
				},
				goToChip: function(chipName) {
					this.chip = chipName;
					$.getJSON('/' + this.wafer + '/' + this.chip + '/devices.json' + cacheBust(), response => {app.$data.devices = response}).fail(() => {console.log("Error getting devices")});
					this.page++;
				},
				goToDevice: function(deviceName) {
					this.device = deviceName;
					console.log('About to get experiments');
					$.getJSON('/' + this.wafer + '/' + this.chip + '/' + this.device + '/experiments.json' + cacheBust(), response => {
						for (var i = 0; i < response.length; i++) {
							response[i]['uiComputed'] = {};
							response[i]['uiComputed']['indexCount'] = response[i]['endIndexes']['index'] - response[i]['startIndexes']['index'];
						}
						app.$data.experiments = response;
					}).fail(() => {console.log("Error getting experiments");});
					this.page++;
				},
				goToExperiment: function(experimentParameters) {
					this.experiment = experimentParameters;
					this.parametersTab = this.experiment.runType;
					this.parametersSection = this.experiment.runType;
					// $.getJSON('/' + this.wafer + '/' + this.chip + '/' + this.device + '/' + this.experiment + '/?.json', response => {app.$data.experiments = response}).fail(() => {console.log("Error getting devices")});
					this.page++;
				},
				customVDataTableFilter: function(items, search, filter, headers) {
					search = search.toString().toLowerCase();
					if (search.trim() === '') return items;
					
					// const props = headers.map(h => h.value); // default
					const props = headers.filter(h => !('searchable' in h) || h.searchable === true).map(h => h.value); // exclude searchable:false
					// const props = headers.filter(h => h.searchable === true).map(h => h.value); // include searchable:true
					
					return items.filter(item => props.some(prop => filter(_.get(item, prop), search)));
				},
				cacheBust: function() {
					return cacheBust();
				}
			}
		});
		
		$( document ).ready(function(){
			app.$vuetify.theme.primary = '#938E94';
			app.$vuetify.theme.secondary = '#557A95';
			app.$vuetify.theme.accent = '#7395AE';
			app.$vuetify.theme.error = '#BF360C';
			app.$vuetify.theme.success = '#00897B';
			app.$vuetify.theme.info = '#B1A296';
			app.$vuetify.theme.warning = '#FFB300';
		});
		
		function updateConnectionStatus() {
			app.$set(app, 'online', navigator.onLine);
		}
		
		window.addEventListener('online', updateConnectionStatus);
		window.addEventListener('offline', updateConnectionStatus);
		window.onhashchange = function() { app.$data.currentPage = location.hash; };
		
		if (typeof(Storage) !== 'undefined') {
			localStorage.exists = 'True';
		}
		
		$.getJSON("/wafers.json" + cacheBust(), response => {app.$data.wafers = response}).fail(() => {console.log("Error getting wafers")});
		
	</script>
</body>
</html>
